html {
    height: 100%;
}

#universe {
    background: radial-gradient(#555555, #000000);
}

/* 56.54
#star {
    background-image: url();

    background-size: cover;
}
*/

@keyframes sunlight {
    from {box-shadow: 0 0 45px #f5c91a;}
    to {box-shadow: 0 0 90px #f5c91a;}
}

#sun {
    background: repeating-radial-gradient(yellow, orange);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    box-shadow: 0 0 45px #f5c91a;

    animation: sunlight 4s infinite alternate;

}