html {
    height: 100%;
}

#universe {
    background: radial-gradient(#555555, #000000);
}

#star {
    background-image: url(./pics/stars.png);

    background-size: cover;
}

@keyframes sunlight {
    from {box-shadow: 0 0 45px #f5c91a;}
    to {box-shadow: 0 0 90px #f5c91a;}
}

#sun {
    background: repeating-radial-gradient(yellow, orange);
    width: 200px;
    height: 200px;
    border-radius: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    box-shadow: 0 0 45px #f5c91a;

    animation: sunlight 4zs infinite alternate;

}

@keyframes spin {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

#earthOrbit {
    height: 500px;
    width: 500px;

    /*border: red solid 1px;
    border-radius: 100%;*/

    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -250px;

    animation: spin 40s linear infinite;
}

#earth {
    position: absolute;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;

    animation: spin 5s linear infinite;
}

#moonOrbit {
    height: 150px;
    width: 150px;
    
    /*border: red solid 1px;*/
    border-radius: 100%;

    position: absolute;
    margin-left: -50px;
    margin-top: -100px;

    animation: spin 20s linear infinite;
}

#moon {
    background: repeating-radial-gradient(rgb(226, 221, 221), gray);
    height: 20px;
    width: 20px;
    border-radius: 100%;

    position: absolute;
    margin-top: 55px;
    margin-left: -10px;

    animation: spin 3s linear infinite;
}